<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/4.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css"
    />
    <link rel="stylesheet" href="/static/css/info-receita.css" />
    <title>Receita | KitchenHub</title>
  </head>
  <body>
    <header>
      <nav class="back">
        <a href="receitas.html"><i class="fi fi-tr-exit"></i></a>
      </nav>
      <h1>Voltar</h1>
    </header>
    <main id="detalhe-receita">
      <article class="recipe-card">
        <section class="recipe-header">
          <figure class="recipe-visual">
            <img id="recipe-image" src="" alt="Foto da receita finalizada" />
          </figure>
          <div class="recipe-meta">
            <h1 id="recipe-title">Carregando...</h1>
          </div>
        </section>

        <div class="recipe-content">
          <section class="ingredientes">
            <h2>Ingredientes</h2>
            <ul id="ingredients-list"></ul>
          </section>

          <section class="preparo">
            <h2>Modo de Preparo</h2>
            <div id="recipe-instructions" class="instructions-body"></div>
          </section>
        </div>
      </article>
    </main>
    <script src="/static/js/receita.js"></script>
  </body>
</html>
