<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link rel="stylesheet" href="/static/css/toast.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    
    <title>Login | KitchenHub</title>
  </head>
  <body>
    
    <div id="toast-container" class="toast-container"></div>

    <main>
      <div class="login">
        <img src="/assets/KitchenHub.png" alt="Logo KitchenHub" />

        <form id="form-login">
          <input type="text" id="log-email" placeholder="User" required />
          <input type="password" id="log-senha" placeholder="Senha" required />
          <button type="submit">Entrar</button>
        </form>

        <div class="cadastrar">
          <p>Não tem uma conta? <a id="criar-conta" href="#">Crie aqui!</a></p>
        </div>
      </div>

      <div id="cadastro" style="display: none;">
        <img src="/assets/KitchenHub.png" alt="Logo KitchenHub" />

        <form id="form-cadastro">
          <span>Crie seu usuário aqui:</span>
          <input type="text" id="cad-email" placeholder="User" required />
          
          <span>Crie sua senha aqui:</span>
          <input type="password" id="cad-senha" placeholder="Senha" required />
          
          <button type="submit">Cadastrar</button>
        </form>
        
        <div id="backtologin">
          <p>Já tem conta? <a id="voltar-login" href="#">Faça login</a></p>
        </div>
      </div>
    </main>

    <script src="/static/js/toast.js"></script>
    <script src="/static/js/login.js"></script>
  </body>
</html>