<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/sessoes.css" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
    <title>Sessões</title>
  </head>
  <body>
    <main>
      <section id="japonesa" class="card-section">
        <span>japonesas</span>
      </section>

      <section id="massa" class="card-section">
        <span>massas</span>
      </section>

      <section id="pizza" class="card-section">
        <span>pizzas</span>
      </section>

      <section id="sobremesa" class="card-section">
        <span>sobremesas</span>
      </section>
    </main>

    <!-- conexão do javascript -->
    <script src="/static/js/cardstorage.js"></script>
  </body>
</html>
